<h1><%= @survey.title %></h1>
<form id="display_survey" action="/surveys" method="post">
  <ul>
  <% @survey.questions.each do |question| %>
    <li> <%= question.text %> </li>
     <ul class='options'>
     <% question.answers.each do |answer| %>
      <input type='radio' name='answers[<%= question.id %>]' value='<%= answer.id %>'>  <%= answer.text %> <br>
     <% end %>
    </ul>
  <% end %>
  </ul>
  <input type='hidden' name='survey_id' value='<%= @survey.id %>'>
  <input type='hidden' id='logon_user_id' value='<%= @user_id %>'>
  <input type='submit' class="validate_login" value='submit survey'>
</form>

