<h1>Our Most Popular Surveys</h1>
<dl>
  <% @surveys.each do |survey| %>
    <dt> <strong><a href='/surveys/<%=survey.id%>'> <%= survey.title %> </strong></a> <dt> <dd>Created By: <%= User.find(survey.users_id).username.capitalize %>, <%= survey.created_at.strftime("%B %d, %Y") %> - Completed <%= survey.participants.count %> Times<dd>
  <% end %>
</dl>


